@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.812) !important ;
}

.active{
    font-weight: bold;
    border-bottom: 0.1em solid white;
}

.test{
    opacity: 0 !important ;
    animation: ease-in-out 1s;
    overflow: hidden;
}

.test:hover{
    background-color: rgba(0, 0, 0, 0.763) !important;
    opacity: 1 !important;
    transition: ease-in-out 400ms;
}

.zoom-in:hover{
    scale: 110%;
}

.onhover{
    animation: ease-in-out 1s;

}

.onhover:hover{
    padding: 20px !important;
    transition: ease-in-out 200ms;
}

.none{
    font-size: 10px !important;
}



.full{
    background : no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.detail{
    height: 100%;
    width: 100%;
}


.tests{
    opacity: 1 !important ;
    background-color: rgba(0, 0, 0, 0.763) !important;
}


@media only screen and (max-width: 600px) {
    .tests{
        font-size: 14px;
    }
  }